{% extends 'base.html' %}
{% block title %}Video App Home{% endblock %}


{% block body %}
  

  <h1></h1>

  <h2>feed</h2>
    <p>MEDIA</p>
  

  <div class="img-display">
    <p>

      {% for img in images %}

      <div><img src="{{ img.image_path }}"></div>
      
      <div class="media-library">

        Image Id: {{ img.image_id }}
        Description: {{ img.description }}
        User id: {{ img.user_id }}
        <!-- <form id="image-info" action='/feed' method="POST">
          <input type="radio" class="reaction" name="{{ img.image_id }}" value=1>1
          <input type="radio" class="reaction" name="image-{{ img.image_id }}" value=2>2
          <input type="radio" class="reaction" name="image-{{ img.image_id }}" value=3>3
          <input type="radio" class="reaction" name="image-{{ img.image_id }}" value=4>4
          <input type="radio" class="reaction" name="image-{{ img.image_id }}" value=5>5
        </form> -->
          <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

          <script>
          function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
          }
          </script>
          

        </div>

      {% endfor %}
    
    </p>
  </div>

  <br>
  <br>

  

{% endblock %}

{% block scripts %}
  <script src="/static/reactions.js"></script>
{% endblock %}