{% extends 'base.html' %}
{% block title %}Video App Home{% endblock %}


{% block body %}
  <h1></h1>

  <h2>feed</h2>
    <p>MEDIA</p>

  <div class="media-library">
    <p>
      {% for img in images %}
      <div><img src="{{ img.image_path }}"></div>
      Image Id: {{ img.image_id }}
      Description: {{ img.description }}
      <input type="radio" id="reaction-1" name="emoji-1" value="1">1
      <input type="radio" id="reaction-2" name="emoji-2" value="2">2
      <input type="radio" id="reaction-3" name="emoji-3" value="3">3
      <input type="radio" id="reaction-4" name="emoji-4" value="4">4
      <input type="radio" id="reaction-5" name="emoji-5" value="5">5
      {% endfor %}
    </p>
  </div>

  <br>
  <br>




{% endblock %}