{% extends 'base.html' %}
{% block title %}Video App Home{% endblock %}

{% block body %}
  <!-- <h1>Welcome to the Video App!</h1> -->

  <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="{{ category }}" id="flash">{{ message }}</div>
    {% endfor %}
  {% endwith %} -->

  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert" id="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}


  <style>
  body {
    background-image: url('/static/img/62e82dad5fc68b7fed91bc9818e68018.jpg');
    background-position: 50% 50%;
    background-repeat: repeat;
  }
  </style>
<div style="background-image: url('/static/img/62e82dad5fc68b7fed91bc9818e68018.jpg');" class="homepage-img"> 

  <div class="wrapper fadeInDown">
    <div id="formContent">

      <div style="display:flex;justify-content:center;align-items:center;">
  
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">On The Reel</h5>
              <div class=div class="fadeIn first"><img src="/static/img/image.png" style="width:15rem;"></div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-account">
              Create an Account
            </button>
          
            <div class="modal fade" id="create-account" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="registration-form">
                      <form name="account-info" action="/login" method="POST" required >
                        <p>First Name <input type="text" name="first-name" required></p>
                        <p>Last Name <input type="text" name="last-name" required></p>
                        <p>Username <input type="text" name="username" required></p>
                        <p>Email <input type="text" name="email" required></p>
                        <p>Password <input type="text" name="password" required></p>
                        <p><input type="submit"></p>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          
    
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#login-modal">
              Log In
            </button> 
          
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <div class="modal-body">
                      <div class="login-form">
                        <form action="/login_user" method="GET">
                          <p>Username <input type="text" name="username" id="username"></p>
                          <p>Password <input type="text" name="password" id="password" required></p>
                          <p><input type="submit"></p>
                        </form>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    
    </div>
  </div>
  

  
  


{% endblock %}
