{% extends 'base.html' %}

{% block title %} {{ user.username }}'s Profile{% endblock %}

{% block body %}

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">Profile

  <ul class="navbar-nav ml-auto mt-7 mt-lg-0"><a href="/feed">View feed</a></ul>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Subscribers</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for subscr in subscribers %}
        <a class="dropdown-item" href='/profile/{{ subscr.subscriber_id }}'>{{ subscr.subscriber.username }} </a>
      {% endfor %}
    </div>
  </div>

  <button class="logout" id="logout">Logout</button>

</nav>



  <!-- <h2>Bio</h2>
  {{ user.bio }}
  <form action='/profile/<user_id>' method="post" id="bio">
    <textarea name="bio" id="bio"></textarea>
    <input type="submit" id="submit-bio" name="submit" action="/profile/bio">bio</button>
  </form> -->
  


  <div class="card" style="width: 30rem;">
    Upload Media Here
      <div class="media-upload-form">
        <form action="upload_file.php" method="post" id="media-upload-submit-form" enctype="multipart/form-data" required>
          <br>
          <input type="file" name="file" id="media-file" required>
          <br>
          <input type="submit" id="submit-media" name="submit" action="/profile">Upload</button required>
          <br>
          <textarea name="user-description" id="user-description"></textarea>Description
          <br>
        </form>
      </div>
      <br>
      <br>
      <br>
    </div>

    <br>
    <br>

  <div class="d-flex justify-content-center">
    <div>
      {% for img in images %}
      <div class="card" style="width: 30rem;">
        <img src="{{ img.image_path }}" class="card-img-top">
        <div class="card-body">
          {{ img.description }}
          <br>
          {% for emoji in img.reactions %}
            Emoji: {{ emoji.reaction }}
          {% endfor %}

          
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      {% endfor %}
    </div>
  </div>
    


    {% endblock %}

{% block scripts %}
  <script src="/static/reactions.js"></script>
{% endblock %}
