{% extends 'base.html' %}

{% block title %} {{ user.username }}'s Profile{% endblock %}

{% block body %}



<nav class="navbar navbar-light" style="background-color: #e3f2fd;">Profile

  <a class="btn btn-primary" href="/feed" role="button" id="feed-button">Feed</a>

  <div class="btn-group" role="group" aria-label="Basic example">

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Upload Memories!
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Upload Media</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="media-upload-form">
              <form action="upload_file.php" method="post" id="media-upload-submit-form" enctype="multipart/form-data" required>
                <input type="file" name="file" id="media-file" required>
                <br>
                <br>
                Caption This!
                <textarea name="user-description" id="user-description"></textarea>
                <br>
                <br>
                <br>
                <input type="submit" id="submit-media" name="submit" action="/profile" value="Upload Media"></button required>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Subscribers</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for subscr in subscribers %}
          <a class="dropdown-item" href='/profile/{{ subscr.subscriber_id }}'>{{ subscr.subscriber.username }} </a>
        {% endfor %}

    </div>
    <button class="btn btn-secondary" id="logout">Logout</button>

    

  

    </div>
  </div>

  

  

</nav>



  <!-- <h2>Bio</h2>
  {{ user.bio }}
  <form action='/profile/<user_id>' method="post" id="bio">
    <textarea name="bio" id="bio"></textarea>
    <input type="submit" id="submit-bio" name="submit" action="/profile/bio">bio</button>
  </form> -->
  

    <br>
    <br>
    

  <div class="container-fluid d-flex justify-content-center">
   
      {% for img in images %}
      <div class="card" style="width: 35rem;">

        <img src="{{ img.image_path }}" class="card-img-top">
        <div class="card-body">
          {{ img.description }}
  
          {% for emoji in img.reactions %}
           
            {% if emoji.reaction == 1 %}
            <img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png" style="width: 1rem;">

            {% elif emoji.reaction == 2%}
            <img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png" style="width: 1rem;">
            {% elif emoji.reaction == 3%}
            <img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png" style="width: 1rem;">
           
            {% elif emoji.reaction == 4%}
            <img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png" style="width: 1rem;">
           
            {% elif emoji.reaction == 5%}
            <img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png" style="width: 1rem;">

            {% endif %}
          {% endfor %}
          
        </div>
      </div>
      
      <br>
      <br>
      <br>
      <br>
      
      {% endfor %}
  
    </div>
  </div>
    


    {% endblock %}

{% block scripts %}
  <script src="/static/reactions.js"></script>
{% endblock %}
